---
Checks: "-*,\
bugprone-*,\
-bugprone-reserved-identifier,\
boost-*,\
-cert-*,\
clang-analyzer-*,\
-clang-analyzer-unix.BlockInCriticalSection,\
cppcoreguidelines-*,\
-cppcoreguidelines-macro-to-enum,\
-cppcoreguidelines-macro-usage,\
-cppcoreguidelines-owning-memory,\
-cppcoreguidelines-pro-bounds-pointer-arithmetic,\
hicpp-*,\
misc-*,\
-misc-include-cleaner,\
-misc-no-recursion,\
modernize-*,\
-modernize-avoid-bind,\
-modernize-macro-to-enum,\
performance-*,\
-performance-enum-size,\
portability-*,\
readability-*,\
-readability-identifier-length,\
-*magic-numbers,\
-*avoid-c-arrays,\
"
WarningsAsErrors: 'clang-*'
HeaderFilterRegex: '.*'
FormatStyle:     file
User:            clausklein
...
