root = .
search-path = build

filter = examples/*
filter = Base64*
filter = rrcp_*
filter = async_*

exclude = tests

exclude-directories = build/_deps
exclude-directories = coverage
exclude-directories = doc
exclude-directories = stagedir
exclude-directories = .cache
exclude-directories = .direnv
exclude-directories = .venv

gcov-ignore-parse-errors = all
print-summary = yes

html-details = coverage/gcovr.html

# cobertura-pretty = yes
# cobertura = build/cobertura.xml
