root = .
search-path = build

filter = src/*

# exclude-directories = tests
exclude-directories = stagedir
exclude-directories = .cache

gcov-ignore-parse-errors = all
print-summary = yes

html-details = coverage/gcovr.html

# cobertura-pretty = yes
# cobertura = build/cobertura.xml
