root = .
search-path = build

# filter = src

exclude-directories = doc
exclude-directories = tests
exclude-directories = coverage
exclude-directories = stagedir
exclude-directories = .cache
exclude-directories = .direnv
exclude-directories = .venv

gcov-ignore-parse-errors = all
print-summary = yes

html-details = coverage/gcovr.html

# cobertura-pretty = yes
# cobertura = build/cobertura.xml
